// 定义全局变量
@min-width: 1080px;
@lgutter: calc(50vw - 540px);
@border-color: #e0e0e0;
@margin-base: 16px;
@padding-base: 5px;
@c-span3: 128px;

// #container.sam_newgrid 相关的样式
#container.sam_newgrid {
  margin-left: @lgutter;

  #content_right {
    display: none;
  }

  #content_left,
  .new-pmd.c-container {
    min-width: @min-width;
  }

  .new-pmd.c-container {
    border: 1px solid @border-color;

    > div {
      margin: @margin-base;
    }

    .c-title {
      border-bottom: 1px solid @border-color;
      margin-bottom: @margin-base;

      a {
        margin-bottom: @padding-base;
      }
    }
  }
}

// .wrapper_new 相关的样式
.wrapper_new {
  .s_form,
  #s_tab {
    padding-left: @lgutter;
  }
}

// #help 相关的样式
#help {
  padding-left: @lgutter !important;
}

// .page_2muyV .page-inner_2jZi2 相关的样式
.page_2muyV {
  .page-inner_2jZi2 {
    padding-left: @lgutter;
  }
}

// .new-pmd .c-span-last 相关的样式
.new-pmd .c-span-last {
  width: calc(100% - @c-span3 - @margin-base);
}

// .rs-link_2DE3Q 相关的样式
.rs-link_2DE3Q {
  width: calc(@min-width / 2 - 30px);
}

// .options_2Vntk 相关的样式
.options_2Vntk {
  width: @min-width;
}
